.contact-button {
  padding: 15px 24px;
  background-color: transparent;
  border: 2px solid $button-color;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 19px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: $button-color;
  box-sizing: border-box;
  transition-duration: 0.25s;


  &__icon {
    margin-left: 12px;
  }

  &:hover {
    border-color: $hover-color;
    color: $hover-color;
    transition-duration: 0.25s;

  }
}